.layers-panel {
    flex: 1;        /* Grow to fill all space not used by the tileset */
    display: flex;
    flex-direction: column;
    min-height: 0;  /* Crucial for flex child scrolling */
}

.layer-list {
    flex: 1;
    overflow-y: auto; /* The scrollbar lives here now */
    background: #111;
}

.layer-item {
    display: flex;
    justify-content: baseline;
    padding: 4px;
    background: #222;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    align-items: center;
    gap: 8px;
}

.layer-item span {
    flex-grow: 1;        /* This makes the span fill all available space */
    font-size: 15px;
    color: #cecece;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden;    /* Clips text if it gets too long */
    text-overflow: ellipsis; /* Adds '...' if the text is cut off */
    
    cursor: default;
}

.layer-item.selected {
    background: #525252;
    font-weight: bolder;
}

.layer-actions {
    flex-shrink: 0;
    padding: 4px;
    display: row;
    background: #1f1f1f;
    gap: 2px;
}
